.column.is-3
	.offer__item
		.offer__img
			img(src='../images/logos/logo1.png')
		.offer__coupon
			span 400Р
		.offer__type Акция
		.offer__description Quiksilver: скидка 5% на все при оплате картойю
		.offer__time Истекает завтра
		.buttons
			span.button Перейти к акции

