.slider#carousel-demo
	.slider__item.item-1
		span Игры и развлечения
	.slider__item.item-2
		span Лекарства и БАДы
	.slider__item.item-3
		span Маркетплейс
	.slider__item.item-4
		span Еда
	.slider__item.item-1
		span Игры и развлечения
	.slider__item.item-2
		span Лекарства и БАДы
	.slider__item.item-3
		span Маркетплейс
	.slider__item.item-4
		span Еда
