main.home
	+lazyPicture({
		src: `${baseDir}images/mem.jpg`,
		alt: 'Мемчик',
	}).home__picture#hello

	p.home__text#necessarily
		| Это стартовый шаблон для верстки!
		br
		br
		| Обязательно посмотри реализацию:
		br
		| pug в папке #[code pug/(components|pages)],
		br
		| js в папке #[code js/(components|modules|pages)],
		br
		| scss в папке #[code scss/(components|pages)]
		br
		br
		| Не используемые части кода/компонентов можно просто отключить (удалять не рекомендуется)
		br
		br
		| Не забывай читать #[a(href="https://github.com/ninelines-team/ninelines-docs" target="_blank") документацию]!

	//- picture.home__picture.home__picture--2#bye
	+lazyPicture({
		src: `${baseDir}images/mem-2.jpg`,
		alt: 'Мемчик 2',
	}, [
		{
			srcset: `${baseDir}images/mem-2.jpg`,
		}
	]).home__picture.home__picture--2#bye
